{{!-- Product page template --}}
<div class="product-wrapper">
  <div class="category-name">{{category_name}}</div>
  <div class="product-img">
    <figute>
      <img src={{product_image}} alt="">
    </figute>
  </div>
  <div class="product-info">
    <div class="product-title"><h2>{{product_name}}</h2></div>
    <br>
    <div class="product-price"><h1>${{product_price}}</h1></div>
      <br>
    <div class="product-stock">Stock:{{product_stock}}</div>
    <br>
  </div>
  <button class="product-add-to-cart button is-info">Add to Cart</button>
</div>

<script src="/js/cart.js"></script>